<form (ngSubmit)="guardarDatos()"  autocomplete="off"
[formGroup]="inicioForm">
    <div class="container">
      <!-- Antecedentes del paciente -->
      <div class="seccion-antecedentes">
        <h2 class="titulo-seccion">Antecedentes del paciente</h2>
  
        <div class="campos-container">
          <div class="campo campo-responsivo">
            <select formControlName="paisOrigen" id="paisOrigen" name="paisOrigen">
              <option value=""  required *ngFor="let item of paisOrigen"> {{  item.display }} </option>
              <!-- Opciones para el combobox -->
            </select>
          </div>
  
          <div class="campo campo-responsivo">
            <select formControlName="nacionalidad" id="nacionalidad" name="nacionalidad" required>
              <option value=""  *ngFor="let item of paisOrigen"> {{  item.display }} </option>
              <!-- Opciones para el combobox -->
            </select>
          </div>
  
          <div class="campo campo-responsivo">
            <select formControlName="sexoBiologico" id="sexoBiologico" name="sexoBiologico"   required>
              <option value=""  *ngFor="let item of sexo"> {{  item.display }} </option>
              <!-- Opciones para el combobox -->
            </select>
          </div>
  
          <div class="campo campo-responsivo">
            <select formControlName="lugarNacimiento"   id="lugarNacimiento" name="lugarNacimiento"  required>
              <option value=""  *ngFor="let item of comuna"> {{  item.display }} </option>
              <!-- Opciones para el combobox -->
            </select>
          </div>
  
          <div class="campo campo-responsivo">
            <input type="checkbox" id="puebloOriginario" name="puebloOriginario">
            <span>Pueblo originario</span>
          </div>
  
          <div class="campo campo-responsivo">
            <input type="text" id="rut" name="rut"  placeholder="RUT" required>
          </div>
  
          <div class="campo campo-responsivo">
            <input type="text" id="apellidoPaterno" name="apellidoPaterno"  placeholder="Apellido paterno" required>
          </div>
  
          <div class="campo campo-responsivo">
            <input type="text" id="apellidoMaterno" name="apellidoMaterno"  placeholder="Apellido materno" required>
          </div>
  
          <div class="campo campo-responsivo">
            <input type="text" id="nombre" name="nombre"  placeholder="Nombre" required>
          </div>
  
          <div class="campo campo-responsivo">
            <input type="text" id="nombreSocial" name="nombreSocial"  placeholder="Nombre (social)" required>
          </div>
  
          <div class="campo campo-responsivo">
            <input type="text" id="telefono" name="telefono"  placeholder="Teléfono" required>
          </div>
  
          <div class="campo campo-responsivo">
            <input type="date" id="fechaNacimiento" name="fechaNacimiento"  placeholder="Fecha de nacimiento" required>
            <!-- Considerando que tienes un componente de calendario para la fecha de nacimiento -->
          </div>
  
          <div class="campo campo-responsivo">
            <select formControlName="genero"  id="genero" name="genero"  required>
              <option value=""  *ngFor="let item of sexo"> {{  item.display }} </option>
              <!-- Opciones para el combobox -->
            </select>
          </div>
        </div>
      </div>
  
      <!-- Lo que el paciente indica -->
      <div class="seccion-indicacion">
        <h2 class="titulo-seccion">Lo que el paciente indica</h2>
        <div class="campos-container">
          <div class="campo campo-responsivo">
            <textarea id="motivoConsulta" name="motivoConsulta"  placeholder="El porqué asiste al control" required></textarea>
          </div>
        </div>
      </div>
  
      <!-- Observacion medica -->
      <div class="seccion-observacion">
        <h2 class="titulo-seccion">Observación médica</h2>
        <div class="campos-container">
          <div class="campo campo-responsivo">
            <textarea id="sospechaMedico" name="sospechaMedico"  placeholder="Sospecha del médico" required></textarea>
          </div>
  
          <div class="campo campo-responsivo">
            <select formControlName="diagnosticos"  id="diagnosticos" name="diagnosticos"  required>
              <option value=""  *ngFor="let item of diagnosticos"> {{  item.displayDiag }} </option>
              <!-- Opciones para el combobox -->
            </select>
          </div>
  
          <div class="campo campo-responsivo">
            <select id="duracionControl" name="duracionControl"  required>
              <option value="" disabled selected>Duración del control</option>
              <option value="">10</option>
              <option value="">20</option>
              <option value="">30</option>
              <option value="">40</option>
              <option value="">50</option>
              <option value="">60</option>
            </select>
          </div>
  
          <div class="campo campo-responsivo">
            <select id="fundamentoPriorizacion" name="fundamentoPriorizacion"  required>
              <option value="" disabled selected>Fundamento de priorización</option>
              <!-- Opciones para el combobox -->
            </select>
          </div>
  
          <div class="campo campo-responsivo">
            <input type="text" id="prioridadInterconsultaOrigen" name="prioridadInterconsultaOrigen"  placeholder="Prioridad de Interconsulta Origen" required>
          </div>
  
          <div class="campo campo-responsivo">
            <input type="checkbox" id="sospechaPatologiaGES" name="sospechaPatologiaGES" >
            <span>Sospecha de patología GES</span>
          </div>
  
          <div class="campo campo-responsivo">
            <input type="text" id="fechaSolicitudInterconsulta" name="fechaSolicitudInterconsulta"  placeholder="Fecha de solicitud de la Interconsulta" required>
          </div>
  
          <div class="campo campo-responsivo">
            <input type="checkbox" id="pacienteAlergico" name="pacienteAlergico" >
            <span>Paciente alérgico</span>
          </div>
  
          <div class="campo campo-responsivo">
            <select id="razonDerivacion" name="razonDerivacion"  required>
              <option value="" disabled selected>Razón de derivación</option>
              <!-- Opciones para el combobox -->
            </select>
          </div>
  
          <div class="campo campo-responsivo">
            <select id="especialidadMedicaDestino" name="especialidadMedicaDestino"  required>
              <option value="" disabled selected>Especialidad médica de destino</option>
              <!-- Opciones para el combobox -->
            </select>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Botones -->
    <div class="botones">
      <button type="button" (click)="limpiarFormulario()">Limpiar</button>
      <button type="submit">Guardar</button>
    </div>
  </form>
  
  <!-- Alertas -->
  <div *ngIf="mostrarAlerta" class="alerta">
    <!-- Mensaje de alerta -->
  </div>
  