<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 style="display: flex;">Inicio Antecedentes del paciente</h4>
                 <li>pais de origen (puede ser fijo tal vez )</li>
                 <li>nacionalidad (puede ser fijo tal vez )</li>
                 <li>sexo biologico (carga directa en html)</li>
                 <li>lugar de nacimiento   (combobox)</li>
                 <li>pueblo originario (true o false) </li>
                 <li>rut (todo junto con guion)</li>
                 <li>apellido paterno</li>
                 <li>apellido materno</li>
                 <li>nombre</li>
                 <li>nombre (social)</li>
                 <li>telefono</li>
                 <li>fecha nacimiento (calendar que puede ser texto)</li>
                 <li>genero  (combobox)</li>

            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 style="display: flex;">Inicio lo que el paciente indica </h4>
                 <li>el proque asiste al control</li> 
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 style="display: flex;">Inicio observacion medica</h4>
                    <li>sospecha del medico</li>
                    <li>diagnosticos (combobox)</li>
                    <li>combobox duracion de el control</li>
                    <li>Fundamento de priorización</li>
                    <li>Prioridad de Interconsulta Origen</li>
                    <li>Sospecha de patología GES</li>                    
                    <li>Fecha de solicitud de la Interconsulta</li>
                    <li>si es un paciente alérgico (true o false)</li>
                    <li>razón de derivación (reasonCode) </li>
                    <li>especialidad medica de destino (combobox)</li>
            </div>
        </div>
    </div>
</div>
