<div class="row">

  <div class="col-12">
    <div class="card">
      <div class="card-body">


        <div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular et_had_animation"style="">

          <div class="et_pb_row et_pb_row_0 et_had_animation"style="">
            <div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">

              <div class="et_pb_module et_pb_text et_pb_text_0 et_pb_text_align_left et_pb_bg_layout_light et_had_animation"style="">

                <div class="et_pb_text_inner">
                  <p>HEALTH LEVEL SEVEN CHILE</p>
                </div>
              </div>
              <div class="et_pb_module et_pb_text et_pb_text_1 et_pb_text_align_left et_pb_bg_layout_light et_had_animation"style="">

                <div class="et_pb_text_inner">
                  <h1>FHIR CONNECTATHON<br><span style="color: #353740;">CHILE</span></h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-12">
    <div class="card">
      <div class="card-body">

        
      
      </div>
    </div>
  </div>    